:root {
  --color-primary: #22577a;
  --color-secondary: #d4a373;
  --color-danger: #c62828;
  --color-warning: #ffeb3b;
  --color-info: #92b4e8;
  --color-background: #e1e2ef;
  --color-white: #ffffff;
  --color-black: #0e0d10;
  --color-overlay: rgba(34, 87, 122, 0.5);
}

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: var(--color-background);
  color: var(--color-black);
}
